.divone{
    width: 1320px;
   
    margin: auto;
}
.flexpart{
display: flex;
justify-content: space-between;
align-items: center;
}
.text{
    font-size: 30px;
    font-weight: 600;
    color: white;

}
.bg{
    background-color: aquamarine;
  
}
.ul {
    display: flex;
    color: blue;
    font-size: 20px;
    gap:50px
}
a{ 
    text-decoration: none;}
    li{ list-style-type: none;
   }

   .button{
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding: 10px 10px;
    background-color: brown;
    border-radius: 50px;
    border: none;

   }